.modal-box1{
    background: #7693d73b;
    padding: 10px;
    border-radius: 4px;
}
.modal-box1 ul{
    list-style: none;
}
.modal-box-info{
    display: flex;
    align-items: center;
}
.modal-box-info i{
    margin-right: 5px;
    color: #535353;

}